<header class="task-bar">
    <div class="left">
        <div class="left-top">
            <div class="task-icon">
                <span class="slds-icon_container slds-icon-standard-task icon-container" title="Description of icon when needed">
                    <svg class="slds-icon slds-icon_large" aria-hidden="true">
                        <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#task"></use>
                    </svg>
                    <span class="slds-assistive-text">Description of icon when needed</span>
                </span>
            </div>
            <div class="task-header">
                <div class="slds-text-heading_large text-color-importance-high">
                    Tasks
                </div>
                <div class="slds-text-heading_medium text-color-importance-low">
                    All Tasks
                </div>
            </div>
        </div>
        <div class="slds-text-heading_small left-bottom text-color-importance-low">
            4 records
        </div>
    </div>
    <div class="right">
        <div class="slds-button-group" role="group">
            <button class="slds-button slds-button_neutral slds-button_stretch">New Task</button>
            <button class="slds-button slds-button_neutral slds-button_stretch">Refresh</button>
        </div>
        <div class="slds-form-element">
            <!-- <label class="slds-form-element__label" for="text-input-id-47">Input Label</label> -->
            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
                <svg class="slds-icon slds-input__icon slds-input__icon_right slds-icon-text-default" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                </svg>
                <input type="text" id="text-input-id-47" placeholder="Search" class="slds-input" />
            </div>
        </div>
        <!-- <div class="slds-form-element">
            <label for="app-launcher-search" class="slds-form-element__label slds-assistive-text">Find an app</label>
            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left">
                <svg class="slds-input__icon slds-input__icon_right slds-icon-text-default" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                </svg>
                <input type="search" class="slds-input" id="app-launcher-search" placeholder="Find an app" value="sales" />
            </div>
        </div> -->
    </div>
</header>
