/* You can add global styles to this file, and also import other style files */
html,
body {
    margin: 0;
    overflow: none;
}

app-tasks-page, app-login-page, app-register-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white; 
}

app-login-page, app-register-page {
    background-color: #f5f5f5;
}

app-task-table {
    display: flex;
    flex: 1;
}

.slds-resizable__divider:after {
    height: 0px !important;
}