<footer class="task-page-controls">
    <div class="left">
        <div class="slds-button-group" role="group">
            <button class="slds-button slds-button_neutral slds-button_icon-border-filled" title="Charts" aria-pressed="false">
                1
                <span class="slds-assistive-text">Charts</span>
            </button>
            <div class="slds-button-group page-number-controls" role="group">
                <button class="slds-button slds-button_icon slds-button_icon-border-filled page-control-previous" title="Filter List"
                    aria-pressed="false">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#up"></use>
                    </svg>
                    <span class="slds-assistive-text">Filter List</span>
                </button>
                <button class="slds-button slds-button_icon slds-button_icon-border-filled page-control-next" title="Filter List"
                    aria-pressed="false">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                    </svg>
                    <span class="slds-assistive-text">Filter List</span>
                </button>
            </div>
        </div>
        </div>
    <div class="right">
        <div class="slds-button-group page-button-controls" role="group">
            <button class="slds-button slds-button_neutral">
                <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#jump_to_top"></use>
                </svg>First</button>

            <button class="slds-button slds-button_neutral">
                <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronleft"></use>
                </svg>Prev</button>
            <button class="slds-button slds-button_neutral">1</button>
            <button class="slds-button slds-button_neutral">Next
                <svg class="slds-button__icon slds-button__icon_right" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                </svg>
            </button>
            <button class="slds-button slds-button_neutral">Last
                <svg class="slds-button__icon slds-button__icon_right" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#jump_to_bottom"></use>
                </svg>
            </button>
        </div>
    </div>
</footer>